<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Blog</title>
</head>
<body>

    {% block header %}
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">Main</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                        </li>
                        <li class="nav-item active">
                            <a href="{% url 'add_post' %}" class="nav-link">+ Add new post</a>
                        </li>
                    </ul>
                {% endif %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'login' %}">Sign in</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'register' %}">Sign up</a>
                    </li>
                </ul>
                <a href="{% url 'logout' %}" class="btn btn-primary">Sign out</a>
            </div>
        </nav>
    </header>
    {% endblock %}

    <main role='main' class='flex-shrink-0'>
        <div class="container">
            <div class="row mt-5">

                    {% block content %}
                    {% endblock %}
                    
                {% block tree %}
                <div class="col-md-3 ml-auto">
                    <h3>Categories</h3>
                    {% load mptt_tags %}
                    <ul class="border-bottom">
                        {% recursetree category %}
                            <li>
                                <a href="{% url 'category' node.title %}">{{ node.title }}</a>
                                {% if not node.is_leaf_node %}
                                    <ul class="children">
                                        {{ children }}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endrecursetree %}
                    </ul>
                    <h3>Tags</h3>
                    {% for tag in tags %}
                        <a href="{% url 'tag' tag.title %}" class="badge badge-info">{{ tag.title }}</a>
                    {% endfor %}
                    <h3>Last 10 comments</h3>
                    {% for unit in ten %}
                    <div class="card mt-3" style="width: 18rem;">
                        <div class="card-body">
                            {% if unit.author is None %}
                            <h5 class="card-title">Anonymous</h5>
                            {% else %}
                            <h5 class="card-title">{{ unit.author }}</h5>
                            {% endif %}
                            <p class="card-text">{{ unit.comment }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endblock %}
            </div>
        </div>

        {% block pagination %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{{ url }}page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="page-item">
                    <a class="page-link" href="{{ url }}page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                </li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href=""><span aria-hidden="true">&laquo;</span></a></li>
                {% endif %}

                <li class="page-item active"><a class="page-link" href="{{ url }}page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                  
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url }}page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                </li>
                <li class="page-item"><a class="page-link" href="{{ url }}page={{ page_obj.next_page_number }}"><span aria-hidden="true">&raquo;</span></a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href=""><span aria-hidden="true">&raquo;</span></a></li>
                {% endif %}
            </ul>
        </nav>
        {% endblock %}
        
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>