{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="col-md-12">
    <h1 class="text-center">Sign up</h1>
    <form method='post' action='/register/'>{% csrf_token %}
        <div class='row justify-content-center'>
            <div class='col-6'>
                {{ form|crispy }}
                <button class="btn btn-primary btn-lg btn-block" type="submit">Sign up</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block tree %}
{% endblock %}