data/*
app/static/
app/webblog/static/
app/webblog/media/
app/webblog/webblog/__pycache__/
app/webblog/blog/__pycache__/
app/webblog/blog/migrations/__pycache__/
app/webblog/blog/templatetags/__pycache__/
app/debug.log
app/webblog/debug.log